<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReVIP{% block titulo %}{% endblock %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">

  <!-- 🔥 IMPORTANTE -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <nav>
    <a href="/" class="nav-logo">Re<span>VIP</span></a>
    <ul>
      <li><a href="/establecimientos">Establecimientos</a></li>
      <li><a href="/registrar-establecimiento">Registrar</a></li>
      <li><a href="/reservar">Reservar</a></li>
      <li><a href="/reservaciones">Mis Reservas</a></li>
    </ul>
  </nav>

  <main>
    {% with msgs = get_flashed_messages(with_categories=true) %}
      {% for cat, msg in msgs %}
        <div class="flash {{ cat }}">{{ msg }}</div>
      {% endfor %}
    {% endwith %}

    {% block contenido %}{% endblock %}
  </main>
</body>
</html>